Package: org.h6nry.ncforward
Name: NCForward
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Forward iOS notfications to any other device. Or: Continuity feature for everyone!
Maintainer: H6nry <henry.anonym@gmail.com>
Author: H6nry <henry.anonym@gmail.com>
Section: Tweaks
